.select-object {
    color: #acacac;
    margin: 8px;
    max-width: 280px;
}

.object-info div:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5px;

    svg {
        vertical-align: middle;
    }
}

.object-info .subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 12px 5px;
}

.object-stat {
    font-size: 1.1rem;
    margin: 5px;

    span:nth-child(2) {
        float: right;
    }
}