.container {
    background-color: var(--container-bg);
    scrollbar-color: var(--scrollbar) var(--scrollbar-bg);
    border: 2px solid var(--border);
}

.simulation {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: flex-start;
}

.simulation-info {
    min-width: 400px;
    overflow-y: auto;
    max-height: 98vh;
}
