.container {
    background-color: var(--container-bg);
    scrollbar-color: var(--scrollbar) var(--scrollbar-bg);
    border: 2px solid var(--border);
}

.simulation {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.field-container {
    min-width: 500px;
    max-height: 98vh;
    line-height: 0;
    position: relative;
}

.field-scroll {
    overflow: auto;
    max-height: 100%;
}

.field {
    background-color: var(--field-bg);
    border: 2px dashed var(--border);
    margin: 4px;
}

.simulation-info {
    min-width: 300px;
}

.zoom-button {
    background-color: #ffffff;
    opacity: 40%;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    border-radius: 50%;
    margin: 5px;
}

.zoom-button:hover {
    opacity: 50%;
}

.zoom-button:active {
    opacity: 60%;
}

.zoom-plus {
    position: absolute;
    right: 15px;
    bottom: 50px;
}

.zoom-minus {
    position: absolute;
    right: 15px;
    bottom: 15px;
}
